// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dbagcontainer{
  overflow-y:scroll;
  height: 75vh;
  max-height: 800px;
}

body{
  // background-image: url(background.jpg);
  // background-attachment: fixed;
  background-color: #CEEDAB;
}


.panel{
  background-color: #5C8099;
}

.panel-default{
  border-radius: 10px;
  border-color: #0c096d;
  border-width: 3px;
}

.dbagPanel{
  height: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-fixed-width{
  width:200px;
}

.auto-margin{
  margin:auto;
  align-content: center;
}

.main-header{
 position:fixed;
 left:0;
 right:0;
 z-index:1;
 background-color:#1F4865;
 padding-bottom:0px;
}

.loading{
  color:#BECFDC;
 text-align: center;
 position:fixed;
 left:50%;
 bottom: 10px;
 padding-left: 10px;
 padding-right: 10px;
 z-index:1;
 background-color:#1F4865;
 -webkit-transform: translateX(-50%);
 visibility: hidden;
}

.main-header-text{
 color:#BECFDC;
}

small{
  color:#1F4865;
}

.dbagSummary{
  color:#BECFDC;
}

//text colors defined from this point



// White borders around all elements for debugging
// * {
//   border: 1px solid white;
// }